body{
    height: 100vw;
    width: 100vw;
}
.container{
    width: 90vw;
    max-height: 100vw;
}
ul .deck {
    height: 90vw;
    width: 80vw;
}
.deck .card{
    height: 40vw;
    width: 5;
}
h1 {
    color: red;
}